<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Stock</title>
    <link rel="stylesheet" href="/css/default.css"/>
</head>
<body>
<form th:action="@{/admin/stock}" method="POST" >
    <div class="input-container">
        <input required="" id="input" type="text">
        <label class="label" for="input">Add Stock</label>
        <div class="underline"></div>
        <div class="sideline"></div>
        <div class="upperline"></div>
        <div class="line"></div>
    </div>
    <div>
        <button type="submit">ADD</button>
    </div>
</form>

<!--
<form th:action="@{/admin/stock}" method="POST" >
    <label for="symbol">Symbol</label>
    <input type="text" name="name" id="symbol" th:field="${stock.symbol}" required>
    <div>
        <span><button type="submit">Conferma</button></span>
    </div>
</form>
-->
</body>
</html>