<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container" style="height: 600px">
    <div class="row h-search-img">
        <img src="/images/StockFinder_2.png" alt="StockFinder" class="img-responsive" height="450px" width="1000px">
    </div>
    <div class="row h-search-form" >
        <form class="search-form" action="#" >
            <input type="search" name="search" placeholder="Search stock ... ">
            <button><img src="/images/search_icon.svg"  alt="search" height="40px" width="40px"></button>
        </form>
    </div>
</div>
</body>
</html>