<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!--    only for code completion-->
  <link rel="stylesheet" href="/css/http_cdn.jsdelivr.net_npm_bootstrap@5.3.0_dist_css_bootstrap.css">
  <link rel="stylesheet" href="/css/base.css">
  <title>User Profile</title>
  <script>
    window.onload = function () {
      var dps1 = []; // dataPoints
      var totalGeneratedFunds = Number("[[${globalUser.totalGeneratedFunds}]]");
      var currentFunds = Number("[[${globalUser.currentFunds}]]");
      var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        animationEnabled: true,
        axisX: {
          interval:12,
          intervalType: "hour",
          valueFormatString: "hh:mm DD/MM/YYYY",
          labelAngle: 0
        },
        axisY:{
          title: "Value (in USD)",
          includeZero: true,
          valueFormatString: "$#0"
        },
        data: [{
          type: "line",
          markerSize: 12,
          xValueFormatString: "D MMMM YYYY hh:mm TT ",
          yValueFormatString: "$###.#",
          dataPoints: dps1
        }]
      });
      $.getJSON("/user/[[${globalUser.id}]]/orders/json", function(data) {
        var firstTimestamp = new Date(data[0].timeStamp).getTime();
        dps1.push({
          x: new Date(firstTimestamp-600000),  // 10 minuti prima del primo ordine
          y: Number(totalGeneratedFunds),
          indexLabel: "Initial funds",
          markerColor: "yellow"
        });
        for (var i = 0; i < data.length; i++) {
          totalGeneratedFunds = String(data[i].type) === 'sell' ? totalGeneratedFunds+Number(data[i].price) : totalGeneratedFunds-Number(data[i].price);
          dps1.push({
            x: new Date(data[i].timeStamp),
            y: Number(totalGeneratedFunds),
            indexLabel: String(data[i].type),
            markerColor: String(data[i].type) === 'sell' ? "red" : "green"
          });
        }
        chart.render();
      });
    }
  </script>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h2 class="text-start mb-4">Profilo utente</h2>
      <div class="row">
        <div class="col-md-6">
          <form id="uploadForm"  th:action="@{/registered/saveProfileImage}" method="POST" enctype="multipart/form-data" style="max-width: 200px">
            <label class="cursor-pointer text-light" for="modifyImage">
              <img class="img-fluid my-2 rounded-4 border border-2" th:src= "${globalUser.getPicPath()}"/>
            </label>
            <input class="opacity-0 position-absolute" id="modifyImage" name="image" type="file" accept="image/*" style="display: none;" onchange="form.submit()">
          </form>
        </div>
        <div class="col-md-6 text-start">
          <ul>
            <li><strong>Username:</strong> <span id="username">Username</span></li>
            <li><strong>Name:</strong>  <span id="firstName">Nome</span>
                                        <span id="lastName">Cognome</span></li>
            <li><strong>Email:</strong> <span id="email">Email</span></li>
          </ul>
        </div>

      <div class="mt-5">
        <h4 class="text-center">Attivita e statistiche: </h4>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <!-- TO DO: QUI CI SI PUO METTERE UN GRAFICO CON QUALCHE STATISTICA UTENTE -->

      </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>
