<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <!--    only for code completion-->
  <link rel="stylesheet" href="/css/http_cdn.jsdelivr.net_npm_bootstrap@5.3.0_dist_css_bootstrap.css">
  <link rel="stylesheet" href="/css/base.css">
  <title>User Profile</title>
  <script>
    $(document).ready(function() {
      //make the rows clickable
      $(".clickable-row").click(function () {
        window.location.href = $(this).data("href");
      });
    });
  </script>
  <script>
    window.onload = function () {
      var dps1 = []; // dataPoints
      var totalGeneratedFunds = Number("[[${globalUser.totalGeneratedFunds}]]");
      var currentFunds = Number("[[${globalUser.currentFunds}]]");
      var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        animationEnabled: true,
        toolTip:{
          cornerRadius: 5,
          borderColor: "grey",
          borderWidth: 4
        },
        axisX: {
          interval:1,
          intervalType: "hour",
          valueFormatString: "hh:mm DD/MM/YYYY",
          labelAngle: 0
        },
        axisY:{
          title: "Funds (in USD)",
          includeZero: true,
          valueFormatString: "$#0"
        },
        data: [{
          type: "line",
          markerSize: 12,
          xValueFormatString: "D MMMM YYYY hh:mm TT ",
          yValueFormatString: "$###.#",
          dataPoints: dps1
        }]
      });
      $.getJSON("/user/[[${globalUser.id}]]/orders/json", function(data) {
        var firstTimestamp = new Date(data[0].timeStamp).getTime();
        dps1.push({
          x: new Date(firstTimestamp-600000),  // 10 minuti prima del primo ordine
          y: Number(totalGeneratedFunds),
          indexLabel: "Initial funds",
          markerColor: "yellow"
        });
        for (var i = 0; i < data.length; i++) {
          totalGeneratedFunds = String(data[i].type) === 'sell' ? totalGeneratedFunds+Number(data[i].price) : totalGeneratedFunds-Number(data[i].price);
          dps1.push({
            x: new Date(data[i].timeStamp),
            y: Number(totalGeneratedFunds),
            indexLabel: String(data[i].type),
            markerColor: String(data[i].type) === 'sell' ? "red" : "green"
          });
        }
        chart.render();
      });
    }
  </script>
</head>
<body>
<div th:replace="/fragments/header :: header"></div>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 border border-2 rounded-4 p-2">
      <h2 class="mb-4 text-center">Profilo utente</h2>
      <div class="row">
        <div class="col-md-6 d-flex">
          <form id="uploadForm" class="mx-2 w-100" th:action="@{/registered/saveProfileImage}" method="POST" enctype="multipart/form-data">
            <label class="cursor-pointer text-light d-flex justify-content-center" for="modifyImage">
              <img class="img-fluid my-2 rounded-4 border border-2 rounded-3 shadow w-75" th:src= "${globalUser.getPicPath()}"/>
            </label>
            <input class="opacity-0 position-absolute" id="modifyImage" name="image" type="file" accept="image/*" style="display: none;" onchange="form.submit()">
          </form>
        </div>
        <div class="col-md-6">
          <div class="row p-3">
            <div class="border border-2 rounded-3 shadow">
              <ul class="my-2">
                <li><strong>Username:</strong> <span th:text="${userAuthDetails.username}">Username</span></li>
                <li><strong>Full Name:</strong>  <span th:text="${globalUser.name}">Nome</span>
                  <span th:text="${globalUser.surname}">Cognome</span></li>
                <li><strong>Email:</strong> <span id="email" th:text="${globalUser.email}">Email</span></li>
              </ul>
            </div>
          </div>
          <div class="row px-3 py-1">
            <div class="border border-2 rounded-3 shadow">
              <a class="my-2 link-success link-underline link-underline-opacity-0 fw-bold " th:href="@{/registered/generateFunds}">Generate Funds</a>
            </div>
          </div>
          <div class="row p-3">
            <div class="border border-2 rounded-3 shadow">
              <ul class="my-2">
                <li><strong>Starting Funds:</strong><span class="ms-2" th:text="${globalUser.totalGeneratedFunds}+'$'">GenFunds</span></li>
                <li><strong>Current Funds:</strong><span class="ms-2" th:text="${globalUser.currentFunds}+'$'">CurrFunds</span></li>
                <li><strong>Total Profit/Loss:</strong><span th:class="${globalUser.getTotalProfit() > 0} ? 'text-success ms-2' : 'text-danger ms-2'"
                        th:text="${globalUser.getTotalProfit()}+'$'">P/L</span></li>
                <li><strong>Total Spent:</strong><span class="ms-2" th:text="${globalUser.getTotalSpent}+'$'">Spent</span></li>
              </ul>
            </div>
          </div>
          </div>
      <div class="mt-5">
        <h4 class="text-center">Current Assets: </h4>
        <div class="my-3 p-2 container border border-3 rounded-3">
          <table class="table table-striped table-hover my-0">
            <thead>
            <tr>
              <th scope="col">Stock</th>
              <th scope="col">Quantity</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="clickable-row" th:each="asset:${globalUser.getQuantityPerStockSet()}"
                th:data-href="@{'/stock/'+${asset.stock.id}}">
              <td th:text="${asset.stock.symbol}">SYB</td>
              <td th:text="${asset.quantity}">QTY</td>
              <td th:text="${asset.price}+'$'">PRICE</td>
            </tr>
            <tbody class="table-group-divider">
            <tr>
              <td>Total</td>
              <td>--</td>
              <td th:text="${globalUser.getTotalValueOfOrders()}+'$'">PRICE</td>
            </tr>
          </table>
        </div>
        <h4 class="text-center">Order History: </h4>
        <div class="my-3 p-2 container border border-3 rounded-3">
          <table class="table table-striped table-hover my-0">
            <thead>
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Stock</th>
              <th scope="col">Buy/Sell Price</th>
              <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr class="clickable-row" th:each="order:${globalUser.getOrders()}"
                th:data-href="@{'/stock/'+${order.stock.id}}">
              <td class="pe-4">
                <div th:class="${order.type == 'buy'} ? 'border border-2 border-success text-success rounded-3 shadow text-center fw-semibold' :
                            'border border-2 border-danger text-danger rounded-3 shadow text-center fw-semibold'"
                     th:text="${order.type}">Sell</div>
              </td>
              <td th:text="${order.stock.symbol}">SYB</td>
              <td th:text="${order.price}+'$'">Buy/Sell Price</td>
              <td th:text="${order.getReadableTimeStamp()}">timeStamp</td>
            </tr>
          </table>
        </div>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <!-- TO DO: QUI CI SI PUO METTERE UN GRAFICO CON QUALCHE STATISTICA UTENTE -->

      </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>
