<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/default.css"/>
</head>
<body>

    <div th:replace="fragments/header :: header"></div>
    <div class="container" style="height: 600px">
        <div class="row" style="margin: 100px">
            <div class="col-6">
                <img src="/images/StockFinder_2.png" alt="StockFinder" class="img-responsive" height="400px" width="1000px">
            </div>
            <div class="row" >
                <form th:action="@{/showStock}" method="GET" >
                    <input type="text" name="name" id="symbol" th:field="${stock.symbol}">
                    <span><button type="submit">Conferma</button></span>
                </form>
            </div>
        </div>
    </div>
</body>

</html>